.contain{
    padding: 10%;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}
.img{
    width: 100%;
}
img{
    width: 100%;
}
.button{
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right, yellow, lightgreen, lightblue);
    border: 3px solid black;
}
button{
    width: 100%;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
}
a{
    text-decoration: none;
}