.contain{
    padding: 10%;
    width: 30%;
    padding-left: 35%;
    padding-right: 35%;
}
.img{
    width: 100%;
}
img{
    width: 100%;
}
.button{
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right, yellow, lightgreen, lightblue);
    border: 2px solid black;
}
button{
    width: 100%;
    background: none;
    border: none;
    font-size: 20px;
    color: white;
}
a{
    text-decoration: none;
}
